site_name: Half-Pwned
site_url: https://notes.advaitpathak.com
theme:
  name: material
  font:
    text: Manrope
    code: SF Mono
  logo: attachments/assets/killua.jpg
  favicon: attachments/assets/killua.ico
  features:
    - navigation.footer
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    # - navigation.expand
    # - navigation.tabs

  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: black
      accent: deep orange

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: black
      accent: deep orange
  
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

plugins:
  - search
  - blog:
      blog_dir: blog
      post_url_format: "{slug}"

# nav:
#   - Home: docs/
#   - About Me: about/about.md
#   - Blog: blog/

extra:
  social:
    - icon: material/github
      link: https://github.com/advaitpathak21
    - icon: material/linkedin
      link: https://www.linkedin.com/in/adwait-pathak/
    - icon: material/cube-outline
      link: https://app.hackthebox.com/public/users/2142044

copyright: Copyright &copy; 2026 Adwait Pathak